body {
   background-color: #af1000;
   margin:0;  
 
   font-family: "Times New Roman";  
}

header{

	margin-top: -20px;

	
	background-color:#7b0d0d;
   position:static;
	
}

h1 {
 margin: 0;
 text-align: center;
 font-size: 3.5em;
 
 color: #ffffff;

 
}

nav{
  	
  margin-top: -20px;
  padding:1em; 
  background-color:#7b0d0d;
  position:static;
  
 
}
nav a {
  
  color:#FFFFFF; 
  text-decoration: none;
  font-size: 3.5em;
  text-align: center;

}
nav a:hover, nav a:focus {
	text-decoration: underline;
}
section {

 margin-top:-70px; 
 width:100%;
 font-size: 3.5em;
 background-color: #feeed8;
 
 position:relative; 

 
}


footer{
	background-color: #7b0d0d;
   font-size: 3.5em;
   color: #ffffff;
   text-align: center;
   width:100%;
   margin: -60px;
}
